{% extends 'final.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/locale/es.js') }}"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listWeek year,month,basicWeek,basicDay'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for agenda in agendas %}
                    {
                        title: '{{ agenda.sesion.servicio.nombre }}',
                        url: '{{ path('sesion_show', { id: agenda.sesion.id }) }}',
                        start: '{{ agenda.dia|date("Y-m-d") }}T{{ agenda.horaInicio|date("H:i:s", false) }}',
                        end: '{{ agenda.dia|date("Y-m-d") }}T{{ agenda.horaFinal|date("H:i:s", false) }}',
                    },
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        {% if is_granted('ROLE_MANAGER') %}
            <h2><span class="glyphicon glyphicon-calendar"></span> Vista de calendario</h2>
        {% else %}
            <h2><span class="glyphicon glyphicon-calendar"></span> Agenda de trabajo</h2>
        {% endif %}
        <div class="row">
            {% if is_granted('ROLE_MANAGER') %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filtro</div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="form-group">
                                <button type="submit" class="btn btn-default"><span
                                            class="glyphicon glyphicon-search"></span> Filtrar
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="{% if is_granted('ROLE_MANAGER') %} col-md-8 {% else %} col-md-12 {% endif %}">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}