<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">SISTEMA <span
                        class="glyphicon glyphicon-random"></span> SPA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_MANAGER') %}
                    <li><a href="{{ path('homepage') }}">Sesiones</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agendas</a></li>
                    <li><a href="{{ path('cliente_index') }}">Clientes</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('usuario_index') }}">Usuarios</a></li>
                    {% else %}
                        <li><a href="{{ path('usuario_index') }}">Especialistas</a></li>
                    {% endif %}
                    <li><a href="{{ path('servicio_index') }}">Servicios</a></li>
                    <li><a href="{{ path('equipo_index') }}">Equipos</a></li>
                    <li><a href="{{ path('tipo_index') }}">Tipos de servicio</a></li>
                {% else %}
                    <li><a href="{{ path('calendario_index') }}">Agenda de trabajo</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span
                                class="glyphicon glyphicon-user"></span> {{ app.user.nombre }} {{ app.user.apellido }}
                        <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('usuario_show', { id: app.user.id }) }}">Ver usuario</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('security_logout') }}" class="label-danger" style="color: white;">Salir del
                                sistema</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>