{% extends 'final.html.twig' %}

{% block main %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Ver servicio</div>
                <div class="panel-body">
                    <p><strong>Nombre:</strong> {{ servicio.nombre }}</p>
                    <p><strong>Descripcion:</strong> {{ servicio.descripcion }}</p>
                    <p><strong>Duracion:</strong> {{ servicio.duracion }}</p>
                    <p><strong>Precio:</strong> {{ servicio.precio }}</p>
                    <p><strong>Tipo:</strong> <a href="{{ path('tipo_show', {id: servicio.tipo.id}) }}">{{ servicio.tipo.nombre }}</a></p>
                    <p><strong>Activo:</strong> {% if (servicio.activo) %} si {% else %} no {% endif %}</p>
                    <p><strong>Equipo:</strong></p>
                    <ul>
                        {% for equipo in servicio.equipo %}
                            <a href="{{ path('equipo_show', {id: equipo.id}) }}">
                                <li>{{ equipo.nombre }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{{ path('servicio_edit', {id: servicio.id}) }}">
                            <div class="btn btn-primary btn-lg btn-block">Editar servicio
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
